.gallery {

    display: flex;
    flex-wrap: wrap;
    
    > div {
        width:50%;
        min-height: 18.7rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include breakpoint-up(medium){
            min-height: 30rem;
        }

        @include breakpoint-up(large){
            width:25%;
            height: 44rem;
        }

        &:nth-child(1) {
            background-image: url("/sunnyside/images/mobile/image-gallery-milkbottles.jpg");

            
            @include breakpoint-up(large){
                background-image: url("/sunnyside/images/desktop/image-gallery-milkbottles.jpg");
            }

        }

        &:nth-child(2) {
            background-image: url("/sunnyside/images/mobile/image-gallery-orange.jpg");

            
            @include breakpoint-up(large){
                background-image: url("/sunnyside/images/desktop/image-gallery-orange.jpg");
            }
        }

        &:nth-child(3) {
            background-image: url("/sunnyside/images/mobile/image-gallery-cone.jpg");

            
            @include breakpoint-up(large){
                background-image: url("/sunnyside/images/desktop/image-gallery-cone.jpg");
            }
        }

        &:nth-child(4) {
            background-image: url("/sunnyside/images/mobile/image-gallery-sugar-cubes.jpg");

            
            @include breakpoint-up(large){
                background-image: url("/sunnyside/images/desktop/image-gallery-sugarcubes.jpg");
            }
        }


    }

}
